[Desktop Entry]
Name=Sokoban II
Name[ru]=Сокобан II
Exec=%U Sokoban2
Icon=Assets/Icon.svg
X-Lomiri-Splash-Image=Assets/Splash.svg
X-Lomiri-Departament-ID=games
Keywords=sokoban2;game;player;box;
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Splash-Color=#dc0e42

